@font-face {
    font-family: 'IsidoraSans';
    font-weight: 400;
    font-style: normal;
    src: url(assets/fonts/IsidoraSans-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 400;
    font-style: italic;
    src: url(assets/fonts/IsidoraSans-RegularItalic.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 500;
    font-style: normal;
    src: url(assets/fonts/IsidoraSans-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 500;
    font-style: italic;
    src: url(assets/fonts/IsidoraSans-MediumItalic.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 600;
    font-style: normal;
    src: url(assets/fonts/IsidoraSans-SemiBold.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 600;
    font-style: italic;
    src: url(assets/fonts/IsidoraSans-SemiBoldItalic.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 700;
    font-style: normal;
    src: url(assets/fonts/IsidoraSans-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'IsidoraSans';
    font-weight: 700;
    font-style: italic;
    src: url(assets/fonts/IsidoraSans-BoldItalic.ttf) format('opentype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;
    src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: italic;
    src: url(assets/fonts/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    font-style: normal;
    src: url(assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    font-style: italic;
    src: url(assets/fonts/OpenSans-BoldItalic.ttf) format('truetype');
}