@import '_fonts.scss';
//@import 'travelicons/style.scss';

// Variables independientes

// Titulos

h1.fold-title{
    font-size: 48px;
    font-weight: 500;
}

h1.fold-title a{
    font-weight: 700;
}

h2.fold-title{
    font-size: 42px;
    font-weight: 500;
}

// Utilidades

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}
// Folds

.fold-image{
    height: 80vh;
    border-bottom-right-radius: 215px;
}

// Miscelaneas

.blue-misc{
    background-color: $ta-blue;
    opacity: .14;
    position: absolute;
    right: 0;
    height: 45vh;
    
    &.from-left{
        left: 0;
        right: auto;
    }
}

// Encabezados

.section-title{
    font-size: 32px;
    margin-top: 32px;
    font-weight: 600;
    color: $ta-green;

    &.magenta{
        color: $ta-magenta;
    }

    &.light-bluee{
        color: $ta-light-blue;
    }

    &.bl{
        color: $bl;
    }
}

.section-subtitle{

    font-size: 18px;
    font-weight: 500;
    color: $gr;
}



//Tags

.tag{

    span[class^="ticon-"]{
        display: inline-block;
        margin-right: 6px;
    }
    
    text-decoration: none;
    border-radius: $br-normal;
    background-color: rgba(0,0,0,.6);
    display: inline-block;
    line-height: 32px;
    padding: 0 10px;
    font-weight: 500;
    margin-right: 18px;
    user-select: none;
    cursor: pointer;
}
.v-application a.tag{
    color: $wh;
}

// Tabs

.v-tabs{
    .v-tab{
        text-transform: none;
        letter-spacing: normal;
        font-size: 18px;
        font-weight: 600;

    }
}

// Modal

.v-dialog.br-b-r-100{
    border-radius: $br-normal;
    border-bottom-right-radius: $br-accented;
}

.ta-modal{
    border-radius: $br-normal;
    border-bottom-right-radius: $br-accented;
    min-width: 500px;
    padding: 60px;
    position: relative;
    background-color: $wh;

    &.padding-100{
        padding: 60px 100px;
    }


    & > span.ticon-close{
        position: absolute;
        top: 18px;
        right: 18px;
        color: $gr1;
        cursor: pointer;
    }

    h2.modal-title{
        color: $ta-green;
        font-size: 38px;
        font-weight: 600;
    }

    h3.modal-title{
        color: $ta-green;
        font-size: 32px;
        font-weight: 600;
    }

    h4.modal-title{
        color: $ta-green;
        font-size: 24px;
        font-weight: 600;

        &.magenta{
            color: $ta-magenta;
        }
    }

    .separator{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 30px 0;

        &:before, &:after{
            content: '';
            background-color: $gr1;
            height: 1px;
            margin: 10px 0;
        }

        .separator-text{
            color: $gr1;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

// Mixins 

@mixin hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;  /*Chrome, Safari and Opera */
      }
}