@import '_fonts.scss';
//@import 'travelicons/style.scss';

// Variables independientes

// Titulos

h1.fold-title{
    font-size: 48px;
    font-weight: 500;
}

h1.fold-title a{
    font-weight: 700;
}

h2.fold-title{
    font-size: 42px;
    font-weight: 500;
}

// Utilidades

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}
// Folds

.fold-image{
    height: 80vh;
    border-bottom-right-radius: 215px;
}

// Miscelaneas

.blue-misc{
    background-color: $ta-blue;
    opacity: .14;
    position: absolute;
    right: 0;
    height: 45vh;
    
    &.from-left{
        left: 0;
        right: auto;
    }
}

// Encabezados

.section-title{
    font-size: 32px;
    margin-top: 32px;
    font-weight: 600;
    color: $ta-green;

    &.magenta{
        color: $ta-magenta;
    }

    &.bl{
        color: $bl;
    }
}

.section-subtitle{

    font-size: 18px;
    font-weight: 500;
    color: $gr;
}



//Tags

.tag{

    span[class^="ticon-"]{
        display: inline-block;
        margin-right: 6px;
    }
    
    text-decoration: none;
    border-radius: $br-normal;
    background-color: rgba(0,0,0,.6);
    display: inline-block;
    line-height: 32px;
    padding: 0 10px;
    font-weight: 500;
    margin-right: 18px;
    user-select: none;
    cursor: pointer;
}
.v-application a.tag{
    color: $wh;
}

// Tabs

.v-tabs{
    .v-tab{
        text-transform: none;
        letter-spacing: normal;
        font-size: 18px;
        font-weight: 600;

    }
}

// Mixins 

@mixin hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;  /*Chrome, Safari and Opera */
      }
}